{% extends "base.html" %}

{% block title %}
NYC Sidewalk Caf&eacute;s
{% endblock %}

{% block body %}
<div class="container">
    <h1>NYC Sidewalk Caf&eacute;s</h1>
    <br>
    <form action="{{ url_for('address') }}" method="post" class="form-horizontal">
        <p>Enter a location. A Manhattan zipcode like "10009" works well.<br><br></p>
        <label class="control-label" for="address">Address:&nbsp;</label>
        <input id="address" name="address" type="text" value="10009" class="input-xlarge">
        <button class="btn btn-primary" type="submit">Go!</button>
    </form>
    <br>
    <p>I know of {{ n_cafes }} sidewalk caf&eacute;s in New York City
       thanks to the <a href="https://data.cityofnewyork.us/Business/Sidewalk-Cafes/6k68-kc8u">NYC Open Data project</a>.</p>
    <p>Code on <a href="https://github.com/ajdavis/zero-to-app">GitHub</a>.</p>
</div>
{% endblock %}
